<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingredientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1 class="ion-text-center">Que ingredientes tienes disponible?</h1>
    <p class="ion-text-center">Selecciona los ingredientes con los que quieres preparar tu comida </p>

    <ion-row>
      <ion-col size="6" *ngFor="let item of ingredients">
        
          <div class="checkbox-content" [style.--img-src]="'url(' + item.img + ')'" >
            <ion-label class="checkbox-title">{{ item.name }}</ion-label>
            <ion-checkbox class="checkbox-item" [value]="item.name" slot="end" [(ngModel)]="item.selected"></ion-checkbox>
          </div>
        
      </ion-col>
    </ion-row>
    <ion-button expand="full" (click)="sendSelection()">Buscar receta</ion-button>

    
  </div>
</ion-content>