<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>
      Plato del día
    </ion-title>
  </ion-toolbar>

  <div class="ion-padding">
    <ion-row>
      <div class="checkbox-content" [style.--img-src]="'url(https://i.pinimg.com/736x/3b/31/d4/3b31d452a97bbabb17f34875fd44d7fb.jpg)'">
        <ion-label class="checkbox-title">Encebollado</ion-label>
      </div>
    </ion-row>
  </div>

  <ion-toolbar>
    <ion-title>
      Platos recomendados
    </ion-title>
  </ion-toolbar>

  <div class="ion-padding">
    <ion-row>
      <ion-col *ngFor="let dish of recommendedDishes" size="6" size-md="4" size-lg="3">
        <div class="checkbox-content" [style.--img-src]="'url(' + dish.img + ')'" (click)="goToDishRecipe(dish)">
          <ion-label class="checkbox-title">{{ dish.name }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
