<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>
      Plato del día
    </ion-title>
  </ion-toolbar>

<div class="ion-padding">
  <ion-row>
    <div class="checkbox-content" [style.--img-src]="'url(https://i.pinimg.com/736x/3b/31/d4/3b31d452a97bbabb17f34875fd44d7fb.jpg)'">
      <ion-label class="checkbox-title">Encebollado</ion-label>
    </div>
  </ion-row>
</div>

<ion-toolbar>
  <ion-title>
    Platos recomendados
  </ion-title>
</ion-toolbar>

<div class="ion-padding">
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="3">
      <div class="checkbox-content" [style.--img-src]="'url(https://i.pinimg.com/236x/3f/a1/ff/3fa1ff58470d0f07b15f32fa2056931a.jpg)'">
        <ion-label class="checkbox-title">Chaulafan</ion-label>
      </div>
    </ion-col>

    <ion-col size="6" size-md="4" size-lg="3">
      <div class="checkbox-content" [style.--img-src]="'url(https://i.pinimg.com/236x/d9/03/8d/d9038d8bee836a3f7faf2376eec28056.jpg)'">
        <ion-label class="checkbox-title">Tortilla de huevo</ion-label>
      </div>
    </ion-col>
  </ion-row>
</div>
