<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-in"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="2s" class="user-image-wrapper">
      <img class="user-image" src="assets/323422643_466074495536448_1064292539205350281_n.jpg">
    </ion-col>
    <ion-col class="user-info-wrapper" size="12">
      <h3>Eduardo Sanchez</h3>
      <p>ID-1234</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h4>Teléfono</h4>
      <p>
        +593 123456789
      </p>
    </ion-col>
    <ion-col size="12">
      <h4>Correo</h4>
      <p>
        egsanche&#64;espol.edu.ec
      </p>
    </ion-col>
  </ion-row>
</ion-content>