ion-card {
  --background: white;
  //--color: #9efff0;
  --color: black
}

ion-card-title {
  --color: black;
}

.card-header {
  display: flex;
  align-items: center;

  img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border-radius: 50%;
  }

  ion-card-title {
    font-size: xx-large;
    margin: 0;
  }
}

  